@charset "UTF-8";
.notice-left{
	padding:80px 30px;
}
.notice-right{
	padding:80px 30px;
}
h1{
	font-weight: 900 !important;
}
h2{
	font-weight: 900 !important;
}
h3{
	font-weight: 900 !important;
}
thead>tr div{
    height: 60px;
    line-height: 60px;
}
thead>tr>th{
	text-align:center;
}
h3 a{
	color:black;
	text-decoration: none;
}
h3 a:hover{
	color:black;
	text-decoration: none;
	color:#ADC2A9;
}
.table>tbody>tr>th{
	width:90px;
	text-align:center;
	vertical-align:middle !important;
}
.notice-title{
	height:60px;
	margin-bottom:30px;
}
