.admin-table tr:first-child>th:nth-child(1){
    width: 84px;
}
.admin-table tr:first-child>th:nth-child(2){
    width: 175px;
}
.admin-table tr:first-child>th:nth-child(3){
    width: 68px;
}
.admin-table tr:first-child>th:nth-child(4){
    width: 142px;
}
.admin-table tr:first-child>th:nth-child(5){
    width: 133px;
}
.admin-table tr:first-child>th:nth-child(6){
    width: 84px;
}
.admin-table tr:first-child>th:nth-child(7){
    width: 95px;
}
.admin-table tr:first-child>th:nth-child(8){
    width: 54px;
    background-color: #ffffff;
}

.admin-table tr>td:nth-child(6){
    overflow: hidden;
    text-overflow: ellipsis;
}